
body{
	background-color:cyan
}

img{
    border-radius: 8px;
    max-width: 200%;
    height: auto;
}

table, td, th{
    border: 1px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    padding: 8px;
    font-family: "Comic Sans MS", Monospace;
}